  <!-- As a heading -->
  <nav class="navbar-expand-lg bg-body-tertiary">
    <div class="navbar__container ">
      <div>
        <a class="navbar-brand" href="#">CRUD - FrontEnd</a>
      </div>
      
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Excluir</a>
          </li>
          <form class="d-flex" role="search" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <input class="form-control me-2" type="search" placeholder="Buscar por Nome" aria-label="Search" formControlName="name" (blur)="getName($event)">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
            <span class="text-danger" *ngIf="formSubmitted && this.formGroup.get('name')?.hasError('required')">Nome obrigatório!</span>
          </form>
          </ul>
      </div>
    </div>
  </nav>
<app-form></app-form>

