app-form {
    display: flex;
    justify-content: center;
}
.container-fluid {
    justify-content: center;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
  margin-right: 1rem;
}
