.form {
   width: 50%;
   background-color: rgb(188, 243, 243);
   border-radius: 1rem;
}

.form__title {
    font-size: 2rem;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}